.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.user-info {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.btn-logout {
  background-color: #ff4444;
  padding: 5px 15px;
  font-size: 14px;
}

.task-form { margin: 30px 0; }

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* ESTILOS DE LA TARJETA Y BOTONES NUEVOS */
.task-list {
  width: 100%;
  max-width: 600px;
}

.task-card {
  background-color: #3a3f4b;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between; /* Separa texto de botones */
  align-items: center;
}

.task-text {
  flex-grow: 1;
  text-align: left;
  font-size: 18px;
}

.task-actions {
  display: flex;
  gap: 5px;
}

.btn-icon {
  background: none;
  border: 1px solid #555;
  padding: 5px 10px;
  margin: 0;
  font-size: 18px;
}

.btn-icon:hover {
  background-color: #555;
}

.check { color: #00ff00; }
.trash { color: #ff4444; }
